@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.desktop__woman__img {
  display: none;
}
.bg__pattern__desktop {
  display: none;
}
.illustration__box__desktop {
  display: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
  padding: 0 25px 48px 25px;
}

.img__section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.woman__img {
  width: 237px;
  height: 180px;
  margin-top: -107px;
}
.woman__img__bg {
  width: 240px;
  height: 145px;
  margin-top: -100px;
}

.card__title {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #1e1f36;
  margin-bottom: 40px;
}

.Question1,
.Question2,
.Question3,
.Question4,
.Question5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.team__members,
.file__upload,
.reset__password,
.cancel__subscription,
.additional__support:hover {
  cursor: pointer;
}
.team__members__question {
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-bottom: 18px;
}
.team__members__question__active {
  font-weight: 700;
  color: #1e1f36;
}
.question__active {
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  color: #1e1f36;
}

.team__members__Answer {
  display: none;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 16px;
}

.file__upload__question {
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-bottom: 18px;
}
.file__upload__question__active {
  font-weight: 700;
  color: #1e1f36;
}
.file__upload__Answer {
  display: none;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 16px;
}

.reset__password__question {
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-bottom: 18px;
}
.reset__password__question__active {
  font-weight: 700;
  color: #1e1f36;
}
.reset__password__Answer {
  display: none;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 16px;
}

.cancel__subscription__question {
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-bottom: 18px;
}
.cancel__subscription__question__active {
  font-weight: 700;
  color: #1e1f36;
}
.cancel__subscription__Answer {
  display: none;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 16px;
}

.additional__support__question {
  font-size: 13px;
  line-height: 16px;
  color: #4b4c5f;
  margin-bottom: 18px;
}

.additional__support__question__active {
  font-weight: 700;
  color: #1e1f36;
}

.additional__support__Answer {
  display: none;
  font-size: 12px;
  line-height: 18px;
  color: #787887;
  margin-bottom: 16px;
}

hr {
  margin-bottom: 19px;
}

.team__members__arrow {
  width: 8px;
  height: 4px;
}
.file__upload__arrow {
  width: 8px;
  height: 4px;
}

.reset__password__arrow {
  width: 8px;
  height: 4px;
}

.cancel__subscription__arrow {
  width: 8px;
  height: 4px;
}

.additional__support__arrow {
  width: 8px;
  height: 4px;
}

@media screen and (min-width: 1440px) {
  .woman__img {
    display: none;
  }
  .woman__img__bg {
    display: none;
  }
  .desktop__woman__img {
    display: block;
    width: 472px;
    height: 359px;
    margin-left: -79px;
  }
  .bg__pattern__desktop {
    display: block;
    position: absolute;
    left: -20%;
    top: -100px;
  }
  .illustration__box__desktop {
    display: block;
    position: absolute;
    left: 13%;
    bottom: 36%;
  }

  body {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(180deg, #b068e9 0%, #6463e7 100%);
    padding: 129px 239px 130px 281px;
  }
  .main__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 87px;
    width: 100%;
    height: 100%;
  }
  main {
    margin-top: 65px;
    margin-bottom: 83px;
    margin-right: 95px;
  }
  .card {
    padding: 0;
    overflow: hidden;
  }
  .card__title {
    margin-bottom: 45px;
  }
  .team__members__question,
  .file__upload__question,
  .reset__password__question,
  .cancel__subscription__question,
  .reset__password__question {
    font-size: 14px;
    line-height: 17.36px;
    color: #4b4c5f;
  }
}
